
<h1>Avaliações</h1>
<div id="container-notas">

    <div id="cabecalho">
        <h3>Turma</h3>
        <h3>Docente</h3>
        <h3>Materia</h3>
        <h3>Avaliação</h3>
        <h3>Nota</h3>
    </div>

    <div id="avaliacoes">
        <span>asjdisjd</span>
        <span>62313</span>
        <span>asefefejdisjd</span>
        <span>852212</span>
        <span>asjdisjd</span>
        <!-- <span>{{turma}}</span>
        <span>{{docente}}</span>
        <span>{{materia}}</span>
        <span>{{avaliacao}}</span>
        <span>{{nota}}</span> -->
    </div>
    
</div>
