header{
    width: 100vw;
    height: 3.5rem;
    background: #2f9cfb;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;
    h1{
        font-size: 2rem;
        color: white;
        position: relative;
        margin: 0px 0px 0px 5rem;
    }
    div{
        span{
            margin-right: 8px;
        }
        i{
            margin-right: 28px;
        }
    }
}