<div id="menu-lateral">
    <button (click)="logout()">Logout</button>

    <section>
        <button (click)="sendHome()">Início</button>
        <button (click)="sendDocente()">Cadastro de Docente</button> adm
        <button (click)="sendAluno()">Cadastro de Aluno</button> adm
        <button (click)="sendTurma()">Cadastro de Turma</button> adm e Docentes
        <button (click)="sendAvaliacao()">Cadastro de Avaliação</button> adm e Docente
        <button (click)="sendDocenteList()">Listagem de Docentes</button> aluno
        <button (click)="sendNotas()">Notas</button>
    </section>

    <!-- botão para recolher e expandir o menu -->
    <button></button>
</div>